In [1]:
import pandas as pd

In [2]:
df1=pd.read_excel("file_1.xlsx")

In [3]:
df1.head()

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Invoice From : Swiggy Limited (formerly known ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),NaN
3,1,Service Fee,996211,OTH,1,"9,386.58","9,386.58",0,"9,386.58",9,...,9,844.792,0,0,0,0,0,0,"11,076.164",NaN
4,2,Long Distance Pack\ncharges,996211,OTH,1,140,140,0,140,9,...,9,12.6,0,0,0,0,0,0,165.2,NaN

In [4]:
df1

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Invoice From : Swiggy Limited (formerly known ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),NaN
3,1,Service Fee,996211,OTH,1,"9,386.58","9,386.58",0,"9,386.58",9,...,9,844.792,0,0,0,0,0,0,"11,076.164",NaN
4,2,Long Distance Pack\ncharges,996211,OTH,1,140,140,0,140,9,...,9,12.6,0,0,0,0,0,0,165.2,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,SubTotal,NaN,NaN,NaN,NaN,NaN,"9,526.58",NaN,"9,526.58",NaN,...,NaN,857.392,NaN,0,NaN,0,NaN,0,"11,241.364",NaN
7,Other Charges - Reimbursement\nof Discount,NaN,NaN,NaN,"12,751.39",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Grand Total,NaN,NaN,NaN,"23,992.754",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Amount in Words,NaN,NaN,NaN,Twenty Three Thousand Nine Hundred Ninety Two ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Digitally Signed by\nAuthorised Signature Swig...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bank Details:
12,NaN,Bundl Technologies Private Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beneficiary Account Name
13,NaN,CURRENT A/c. No. 50200003950522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beneficiary Account Type and Number
14,NaN,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beneficiary Bank Name and Branch
15,NaN,Wire Transfer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mode of Payment
16,NaN,HDFC0002777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IFSC/RTGS/NEFT Code
17,NaN,560240076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MICR Code
18,NaN,HDFCINBB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swift Code

In [5]:
df1=df1.fillna('')
df1

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,,,,,,,,,,...,,,,,,,,,,
1,Invoice From : Swiggy Limited (formerly known ...,,,,,,,,,,...,,,,,,,,,,
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
3,1,Service Fee,996211,OTH,1,"9,386.58","9,386.58",0,"9,386.58",9,...,9,844.792,0,0,0,0,0,0,"11,076.164",
4,2,Long Distance Pack\ncharges,996211,OTH,1,140,140,0,140,9,...,9,12.6,0,0,0,0,0,0,165.2,
5,,,,,,,,,,,...,,,,,,,,,,
6,SubTotal,,,,,,"9,526.58",,"9,526.58",,...,,857.392,,0,,0,,0,"11,241.364",
7,Other Charges - Reimbursement\nof Discount,,,,"12,751.39",,,,,,...,,,,,,,,,,
8,Grand Total,,,,"23,992.754",,,,,,...,,,,,,,,,,
9,Amount in Words,,,,Twenty Three Thousand Nine Hundred Ninety Two ...,,,,,,...,,,,,,,,,,
10,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
11,,,,,,,,,,,...,,,,,,,,,,Bank Details:
12,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
13,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
14,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
15,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
16,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
17,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
18,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [6]:
df1 = df1.dropna(axis=1, how='all')

In [7]:
df1

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,,,,,,,,,,...,,,,,,,,,,
1,Invoice From : Swiggy Limited (formerly known ...,,,,,,,,,,...,,,,,,,,,,
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
3,1,Service Fee,996211,OTH,1,"9,386.58","9,386.58",0,"9,386.58",9,...,9,844.792,0,0,0,0,0,0,"11,076.164",
4,2,Long Distance Pack\ncharges,996211,OTH,1,140,140,0,140,9,...,9,12.6,0,0,0,0,0,0,165.2,
5,,,,,,,,,,,...,,,,,,,,,,
6,SubTotal,,,,,,"9,526.58",,"9,526.58",,...,,857.392,,0,,0,,0,"11,241.364",
7,Other Charges - Reimbursement\nof Discount,,,,"12,751.39",,,,,,...,,,,,,,,,,
8,Grand Total,,,,"23,992.754",,,,,,...,,,,,,,,,,
9,Amount in Words,,,,Twenty Three Thousand Nine Hundred Ninety Two ...,,,,,,...,,,,,,,,,,
10,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
11,,,,,,,,,,,...,,,,,,,,,,Bank Details:
12,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
13,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
14,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
15,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
16,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
17,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
18,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [8]:
header_row_index = 2

In [9]:
new_header = df1.iloc[header_row_index]       # get the header row
df1 = df1.iloc[header_row_index + 1:]          # keep the data below it
df1.columns = new_header                      # set new header
df1 = df1.reset_index(drop=True)               # reset index

# Step 3 (Optional): Clean newline characters from headers
df1.columns = df1.columns.str.replace('\n', ' ', regex=True)

# Step 4: Preview result
print(df1.head())

2                                     Sr. no.                  Description  \
0                                           1                  Service Fee
1                                           2  Long Distance Pack\ncharges
2
3                                    SubTotal
4  Other Charges - Reimbursement\nof Discount

2     HSN Unit of measure   Quantity Unit Price Base Amount Discount  \
0  996211             OTH          1   9,386.58    9,386.58        0
1  996211             OTH          1        140         140        0
2
3                                                  9,526.58
4                          12,751.39

2 Assessable value CGST Rate  ... SGST Rate SGST Amount IGST Rate IGST Amount  \
0         9,386.58         9  ...         9     844.792         0           0
1              140         9  ...         9        12.6         0           0
2                             ...
3         9,526.58            ...               857.392                     0
4                             ...

2 Comp CESS Rate Comp CESS Amount State CESS Rate State CESS Amount  \
0              0                0               0                 0
1              0                0               0                 0
2
3                               0                                 0
4

2 Total Amount (Rs.)
0         11,076.164
1              165.2
2
3         11,241.364
4

[5 rows x 21 columns]

In [10]:
df1

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"9,386.58","9,386.58",0,"9,386.58",9,...,9,844.792,0,0,0,0,0,0,"11,076.164",
1,2,Long Distance Pack\ncharges,996211,OTH,1,140,140,0,140,9,...,9,12.6,0,0,0,0,0,0,165.2,
2,,,,,,,,,,,...,,,,,,,,,,
3,SubTotal,,,,,,"9,526.58",,"9,526.58",,...,,857.392,,0,,0,,0,"11,241.364",
4,Other Charges - Reimbursement\nof Discount,,,,"12,751.39",,,,,,...,,,,,,,,,,
5,Grand Total,,,,"23,992.754",,,,,,...,,,,,,,,,,
6,Amount in Words,,,,Twenty Three Thousand Nine Hundred Ninety Two ...,,,,,,...,,,,,,,,,,
7,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,Bank Details:
9,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
10,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
11,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
12,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
13,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
14,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
15,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [12]:
df1

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"9,386.58","9,386.58",0,"9,386.58",9,...,9,844.792,0,0,0,0,0,0,"11,076.164",
1,2,Long Distance Pack\ncharges,996211,OTH,1,140,140,0,140,9,...,9,12.6,0,0,0,0,0,0,165.2,
2,,,,,,,,,,,...,,,,,,,,,,
3,SubTotal,,,,,,"9,526.58",,"9,526.58",,...,,857.392,,0,,0,,0,"11,241.364",
4,Other Charges - Reimbursement\nof Discount,,,,"12,751.39",,,,,,...,,,,,,,,,,
5,Grand Total,,,,"23,992.754",,,,,,...,,,,,,,,,,
6,Amount in Words,,,,Twenty Three Thousand Nine Hundred Ninety Two ...,,,,,,...,,,,,,,,,,
7,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,Bank Details:
9,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
10,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
11,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
12,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
13,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
14,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
15,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [14]:
for x in df1.index:
    if df1.loc[x, "Unit of measure"] == '':
        df1.drop(x, inplace=True)

df1

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"9,386.58","9,386.58",0,"9,386.58",9,...,9,844.792,0,0,0,0,0,0,"11,076.164",
1,2,Long Distance Pack\ncharges,996211,OTH,1,140,140,0,140,9,...,9,12.6,0,0,0,0,0,0,165.2,

In [19]:
df1 = df1.drop(df1.columns[0], axis=1)

In [20]:
df1

2,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,CGST Amount,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,Service Fee,996211,OTH,1,"9,386.58","9,386.58",0,"9,386.58",9,844.792,9,844.792,0,0,0,0,0,0,"11,076.164",
1,Long Distance Pack\ncharges,996211,OTH,1,140,140,0,140,9,12.6,9,12.6,0,0,0,0,0,0,165.2,

In [22]:
df2=pd.read_excel("file_2.xlsx")

In [23]:
df2.head()

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"TDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Invoice From : Swiggy Limited (formerly known ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),NaN
3,1,Service Fee,996211,OTH,1,36.99,36.99,0,36.99,9,...,9,3.329,0,0,0,0,0,0,43.648,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df2=df2.fillna('')
df2

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"TDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,,,,,,,,,,...,,,,,,,,,,
1,Invoice From : Swiggy Limited (formerly known ...,,,,,,,,,,...,,,,,,,,,,
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
3,1,Service Fee,996211,OTH,1,36.99,36.99,0,36.99,9,...,9,3.329,0,0,0,0,0,0,43.648,
4,,,,,,,,,,,...,,,,,,,,,,
5,SubTotal,,,,,,36.99,,36.99,,...,,3.329,,0,,0,,0,43.648,
6,Other Charges - Reimbursement\nof Discount,,,,78.8,,,,,,...,,,,,,,,,,
7,Grand Total,,,,122.448,,,,,,...,,,,,,,,,,
8,Amount in Words,,,,One Hundred Twenty Two Rupees Forty Five Paise...,,,,,,...,,,,,,,,,,
9,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
10,,,,,,,,,,,...,,,,,,,,,,Bank Details:
11,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
12,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
13,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
14,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
15,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
16,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
17,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [25]:
df2.drop_duplicates()
df2

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"TDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,,,,,,,,,,...,,,,,,,,,,
1,Invoice From : Swiggy Limited (formerly known ...,,,,,,,,,,...,,,,,,,,,,
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
3,1,Service Fee,996211,OTH,1,36.99,36.99,0,36.99,9,...,9,3.329,0,0,0,0,0,0,43.648,
4,,,,,,,,,,,...,,,,,,,,,,
5,SubTotal,,,,,,36.99,,36.99,,...,,3.329,,0,,0,,0,43.648,
6,Other Charges - Reimbursement\nof Discount,,,,78.8,,,,,,...,,,,,,,,,,
7,Grand Total,,,,122.448,,,,,,...,,,,,,,,,,
8,Amount in Words,,,,One Hundred Twenty Two Rupees Forty Five Paise...,,,,,,...,,,,,,,,,,
9,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
10,,,,,,,,,,,...,,,,,,,,,,Bank Details:
11,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
12,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
13,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
14,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
15,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
16,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
17,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [26]:
header_row_index = 2
new_header = df2.iloc[header_row_index]       # get the header row
df2 = df2.iloc[header_row_index + 1:]          # keep the data below it
df2.columns = new_header                      # set new header
df2 = df2.reset_index(drop=True)               # reset index

In [27]:
df2

2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,36.99,36.99,0,36.99,9,...,9,3.329,0,0,0,0,0,0,43.648,
1,,,,,,,,,,,...,,,,,,,,,,
2,SubTotal,,,,,,36.99,,36.99,,...,,3.329,,0,,0,,0,43.648,
3,Other Charges - Reimbursement\nof Discount,,,,78.8,,,,,,...,,,,,,,,,,
4,Grand Total,,,,122.448,,,,,,...,,,,,,,,,,
5,Amount in Words,,,,One Hundred Twenty Two Rupees Forty Five Paise...,,,,,,...,,,,,,,,,,
6,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
7,,,,,,,,,,,...,,,,,,,,,,Bank Details:
8,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
9,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
10,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
11,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
12,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
13,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
14,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [28]:
df2.columns = df2.columns.str.replace('\n', ' ', regex=True)

In [29]:
df2

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,36.99,36.99,0,36.99,9,...,9,3.329,0,0,0,0,0,0,43.648,
1,,,,,,,,,,,...,,,,,,,,,,
2,SubTotal,,,,,,36.99,,36.99,,...,,3.329,,0,,0,,0,43.648,
3,Other Charges - Reimbursement\nof Discount,,,,78.8,,,,,,...,,,,,,,,,,
4,Grand Total,,,,122.448,,,,,,...,,,,,,,,,,
5,Amount in Words,,,,One Hundred Twenty Two Rupees Forty Five Paise...,,,,,,...,,,,,,,,,,
6,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
7,,,,,,,,,,,...,,,,,,,,,,Bank Details:
8,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
9,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
10,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
11,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
12,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
13,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
14,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [30]:
for x in df2.index:
    if df2.loc[x, "Unit of measure"] == '':
        df2.drop(x, inplace=True)

df2

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,36.99,36.99,0,36.99,9,...,9,3.329,0,0,0,0,0,0,43.648,

In [31]:
df3=pd.read_excel("file_3.xlsx")

In [32]:
df3

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"Swiggy has obtained a consolidated lower deduction certificate ('LDC'). Any TDS being deducted shall be as per the lower deduction certificate\nFor FY 2024-25 - Certificate reference no. 197(1)/AAFCB7707D/2024-25/1 Link of the Certificate copy FY 2024-25\nFor FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Invoice From : Swiggy Limited (formerly known ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),NaN
3,1,Service Fee,996211,OTH,1,"13,579.92","13,579.92",0,"13,579.92",9,...,9,"1,222.193",0,0,0,0,0,0,"16,024.306",NaN
4,2,Long Distance Pack\ncharges,996211,OTH,1,805,805,0,805,9,...,9,72.45,0,0,0,0,0,0,949.9,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,SubTotal,NaN,NaN,NaN,NaN,NaN,"14,384.92",NaN,"14,384.92",NaN,...,NaN,"1,294.643",NaN,0,NaN,0,NaN,0,"16,974.206",NaN
7,Other Charges - Reimbursement\nof Discount,NaN,NaN,NaN,"18,677.91",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Grand Total,NaN,NaN,NaN,"35,652.116",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Amount in Words,NaN,NaN,NaN,Thirty Five Thousand Six Hundred Fifty Two Rup...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Digitally Signed by\nAuthorised Signature Swig...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bank Details:
12,NaN,Bundl Technologies Private Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beneficiary Account Name
13,NaN,CURRENT A/c. No. 50200003950522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beneficiary Account Type and Number
14,NaN,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beneficiary Bank Name and Branch
15,NaN,Wire Transfer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mode of Payment
16,NaN,HDFC0002777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IFSC/RTGS/NEFT Code
17,NaN,560240076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MICR Code
18,NaN,HDFCINBB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swift Code

In [33]:
df3=df3.fillna('')
df3

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"Swiggy has obtained a consolidated lower deduction certificate ('LDC'). Any TDS being deducted shall be as per the lower deduction certificate\nFor FY 2024-25 - Certificate reference no. 197(1)/AAFCB7707D/2024-25/1 Link of the Certificate copy FY 2024-25\nFor FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,,,,,,,,,,...,,,,,,,,,,
1,Invoice From : Swiggy Limited (formerly known ...,,,,,,,,,,...,,,,,,,,,,
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
3,1,Service Fee,996211,OTH,1,"13,579.92","13,579.92",0,"13,579.92",9,...,9,"1,222.193",0,0,0,0,0,0,"16,024.306",
4,2,Long Distance Pack\ncharges,996211,OTH,1,805,805,0,805,9,...,9,72.45,0,0,0,0,0,0,949.9,
5,,,,,,,,,,,...,,,,,,,,,,
6,SubTotal,,,,,,"14,384.92",,"14,384.92",,...,,"1,294.643",,0,,0,,0,"16,974.206",
7,Other Charges - Reimbursement\nof Discount,,,,"18,677.91",,,,,,...,,,,,,,,,,
8,Grand Total,,,,"35,652.116",,,,,,...,,,,,,,,,,
9,Amount in Words,,,,Thirty Five Thousand Six Hundred Fifty Two Rup...,,,,,,...,,,,,,,,,,
10,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
11,,,,,,,,,,,...,,,,,,,,,,Bank Details:
12,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
13,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
14,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
15,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
16,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
17,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
18,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [34]:
df3.drop_duplicates()
df3

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"Swiggy has obtained a consolidated lower deduction certificate ('LDC'). Any TDS being deducted shall be as per the lower deduction certificate\nFor FY 2024-25 - Certificate reference no. 197(1)/AAFCB7707D/2024-25/1 Link of the Certificate copy FY 2024-25\nFor FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,,,,,,,,,,...,,,,,,,,,,
1,Invoice From : Swiggy Limited (formerly known ...,,,,,,,,,,...,,,,,,,,,,
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
3,1,Service Fee,996211,OTH,1,"13,579.92","13,579.92",0,"13,579.92",9,...,9,"1,222.193",0,0,0,0,0,0,"16,024.306",
4,2,Long Distance Pack\ncharges,996211,OTH,1,805,805,0,805,9,...,9,72.45,0,0,0,0,0,0,949.9,
5,,,,,,,,,,,...,,,,,,,,,,
6,SubTotal,,,,,,"14,384.92",,"14,384.92",,...,,"1,294.643",,0,,0,,0,"16,974.206",
7,Other Charges - Reimbursement\nof Discount,,,,"18,677.91",,,,,,...,,,,,,,,,,
8,Grand Total,,,,"35,652.116",,,,,,...,,,,,,,,,,
9,Amount in Words,,,,Thirty Five Thousand Six Hundred Fifty Two Rup...,,,,,,...,,,,,,,,,,
10,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
11,,,,,,,,,,,...,,,,,,,,,,Bank Details:
12,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
13,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
14,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
15,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
16,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
17,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
18,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [35]:
header_row_index = 2

In [36]:
new_header = df3.iloc[header_row_index]       # get the header row
df3 = df3.iloc[header_row_index + 1:]          # keep the data below it
df3.columns = new_header                      # set new header
df3 = df3.reset_index(drop=True)               # reset index

In [37]:
df3

2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"13,579.92","13,579.92",0,"13,579.92",9,...,9,"1,222.193",0,0,0,0,0,0,"16,024.306",
1,2,Long Distance Pack\ncharges,996211,OTH,1,805,805,0,805,9,...,9,72.45,0,0,0,0,0,0,949.9,
2,,,,,,,,,,,...,,,,,,,,,,
3,SubTotal,,,,,,"14,384.92",,"14,384.92",,...,,"1,294.643",,0,,0,,0,"16,974.206",
4,Other Charges - Reimbursement\nof Discount,,,,"18,677.91",,,,,,...,,,,,,,,,,
5,Grand Total,,,,"35,652.116",,,,,,...,,,,,,,,,,
6,Amount in Words,,,,Thirty Five Thousand Six Hundred Fifty Two Rup...,,,,,,...,,,,,,,,,,
7,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,Bank Details:
9,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
10,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
11,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
12,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
13,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
14,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
15,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [38]:
df3.columns = df3.columns.str.replace('\n', ' ', regex=True)
df3

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"13,579.92","13,579.92",0,"13,579.92",9,...,9,"1,222.193",0,0,0,0,0,0,"16,024.306",
1,2,Long Distance Pack\ncharges,996211,OTH,1,805,805,0,805,9,...,9,72.45,0,0,0,0,0,0,949.9,
2,,,,,,,,,,,...,,,,,,,,,,
3,SubTotal,,,,,,"14,384.92",,"14,384.92",,...,,"1,294.643",,0,,0,,0,"16,974.206",
4,Other Charges - Reimbursement\nof Discount,,,,"18,677.91",,,,,,...,,,,,,,,,,
5,Grand Total,,,,"35,652.116",,,,,,...,,,,,,,,,,
6,Amount in Words,,,,Thirty Five Thousand Six Hundred Fifty Two Rup...,,,,,,...,,,,,,,,,,
7,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,Bank Details:
9,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
10,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
11,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
12,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
13,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
14,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
15,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [39]:
for x in df3.index:
    if df3.loc[x, "Unit of measure"] == '':
        df3.drop(x, inplace=True)

df3

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"13,579.92","13,579.92",0,"13,579.92",9,...,9,"1,222.193",0,0,0,0,0,0,"16,024.306",
1,2,Long Distance Pack\ncharges,996211,OTH,1,805,805,0,805,9,...,9,72.45,0,0,0,0,0,0,949.9,

In [40]:
df4=pd.read_excel("file_4.xlsx")
df4

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2024-25 - Certificate reference no. 197(1)/AAFCB7707D/2024-25/1 Link of the Certificate copy FY 2024-25\nFor FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Invoice From : Swiggy Limited (formerly known ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),NaN
3,1,Service Fee,996211,OTH,1,626.25,626.25,0,626.25,9,...,9,56.362,0,0,0,0,0,0,738.975,NaN
4,2,Long Distance Pack\ncharges,996211,OTH,1,120,120,0,120,9,...,9,10.8,0,0,0,0,0,0,141.6,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,SubTotal,NaN,NaN,NaN,NaN,NaN,746.25,NaN,746.25,NaN,...,NaN,67.162,NaN,0,NaN,0,NaN,0,880.575,NaN
7,Other Charges - Reimbursement\nof Discount,NaN,NaN,NaN,"1,165.87",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Grand Total,NaN,NaN,NaN,"2,046.445",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Amount in Words,NaN,NaN,NaN,Two Thousand Forty Six Rupees Forty Five Paise...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Digitally Signed by\nAuthorised Signature Swig...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bank Details:
12,NaN,Bundl Technologies Private Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beneficiary Account Name
13,NaN,CURRENT A/c. No. 50200003950522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beneficiary Account Type and Number
14,NaN,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beneficiary Bank Name and Branch
15,NaN,Wire Transfer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mode of Payment
16,NaN,HDFC0002777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IFSC/RTGS/NEFT Code
17,NaN,560240076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MICR Code
18,NaN,HDFCINBB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swift Code

In [41]:
df4=df4.fillna('')
df4

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2024-25 - Certificate reference no. 197(1)/AAFCB7707D/2024-25/1 Link of the Certificate copy FY 2024-25\nFor FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,,,,,,,,,,...,,,,,,,,,,
1,Invoice From : Swiggy Limited (formerly known ...,,,,,,,,,,...,,,,,,,,,,
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
3,1,Service Fee,996211,OTH,1,626.25,626.25,0,626.25,9,...,9,56.362,0,0,0,0,0,0,738.975,
4,2,Long Distance Pack\ncharges,996211,OTH,1,120,120,0,120,9,...,9,10.8,0,0,0,0,0,0,141.6,
5,,,,,,,,,,,...,,,,,,,,,,
6,SubTotal,,,,,,746.25,,746.25,,...,,67.162,,0,,0,,0,880.575,
7,Other Charges - Reimbursement\nof Discount,,,,"1,165.87",,,,,,...,,,,,,,,,,
8,Grand Total,,,,"2,046.445",,,,,,...,,,,,,,,,,
9,Amount in Words,,,,Two Thousand Forty Six Rupees Forty Five Paise...,,,,,,...,,,,,,,,,,
10,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
11,,,,,,,,,,,...,,,,,,,,,,Bank Details:
12,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
13,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
14,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
15,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
16,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
17,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
18,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [42]:
df4.drop_duplicates()
df4

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2024-25 - Certificate reference no. 197(1)/AAFCB7707D/2024-25/1 Link of the Certificate copy FY 2024-25\nFor FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,,,,,,,,,,...,,,,,,,,,,
1,Invoice From : Swiggy Limited (formerly known ...,,,,,,,,,,...,,,,,,,,,,
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
3,1,Service Fee,996211,OTH,1,626.25,626.25,0,626.25,9,...,9,56.362,0,0,0,0,0,0,738.975,
4,2,Long Distance Pack\ncharges,996211,OTH,1,120,120,0,120,9,...,9,10.8,0,0,0,0,0,0,141.6,
5,,,,,,,,,,,...,,,,,,,,,,
6,SubTotal,,,,,,746.25,,746.25,,...,,67.162,,0,,0,,0,880.575,
7,Other Charges - Reimbursement\nof Discount,,,,"1,165.87",,,,,,...,,,,,,,,,,
8,Grand Total,,,,"2,046.445",,,,,,...,,,,,,,,,,
9,Amount in Words,,,,Two Thousand Forty Six Rupees Forty Five Paise...,,,,,,...,,,,,,,,,,
10,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
11,,,,,,,,,,,...,,,,,,,,,,Bank Details:
12,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
13,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
14,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
15,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
16,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
17,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
18,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [43]:
header_row_index = 2

In [44]:
new_header = df4.iloc[header_row_index]       # get the header row
df4 = df4.iloc[header_row_index + 1:]          # keep the data below it
df4.columns = new_header                      # set new header
df4 = df4.reset_index(drop=True)               # reset index

In [45]:
df4

2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,626.25,626.25,0,626.25,9,...,9,56.362,0,0,0,0,0,0,738.975,
1,2,Long Distance Pack\ncharges,996211,OTH,1,120,120,0,120,9,...,9,10.8,0,0,0,0,0,0,141.6,
2,,,,,,,,,,,...,,,,,,,,,,
3,SubTotal,,,,,,746.25,,746.25,,...,,67.162,,0,,0,,0,880.575,
4,Other Charges - Reimbursement\nof Discount,,,,"1,165.87",,,,,,...,,,,,,,,,,
5,Grand Total,,,,"2,046.445",,,,,,...,,,,,,,,,,
6,Amount in Words,,,,Two Thousand Forty Six Rupees Forty Five Paise...,,,,,,...,,,,,,,,,,
7,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,Bank Details:
9,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
10,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
11,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
12,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
13,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
14,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
15,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [46]:
df4.columns = df4.columns.str.replace('\n', ' ', regex=True)

In [47]:
for x in df4.index:
    if df4.loc[x, "Unit of measure"] == '':
        df4.drop(x, inplace=True)

df4

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,626.25,626.25,0,626.25,9,...,9,56.362,0,0,0,0,0,0,738.975,
1,2,Long Distance Pack\ncharges,996211,OTH,1,120,120,0,120,9,...,9,10.8,0,0,0,0,0,0,141.6,

In [48]:
df5=pd.read_excel("file_5.xlsx")
df5

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2024-25 - Certificate reference no. 197(1)/AAFCB7707D/2024-25/1 Link of the Certificate copy FY 2024-25\nFor FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Invoice From : Swiggy Limited (formerly known ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),NaN
3,1,Service Fee,996211,OTH,1,"9,555.89","9,555.89",0,"9,555.89",9,...,9,860.03,0,0,0,0,0,0,"11,275.95",NaN
4,2,Long Distance Pack\ncharges,996211,OTH,1,455,455,0,455,9,...,9,40.95,0,0,0,0,0,0,536.9,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,SubTotal,NaN,NaN,NaN,NaN,NaN,"10,010.89",NaN,"10,010.89",NaN,...,NaN,900.98,NaN,0,NaN,0,NaN,0,"11,812.85",NaN
7,Other Charges - Reimbursement\nof Discount,NaN,NaN,NaN,"12,105.15",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Grand Total,NaN,NaN,NaN,"23,918",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Amount in Words,NaN,NaN,NaN,Twenty Three Thousand Nine Hundred Eighteen Ru...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Digitally Signed by\nAuthorised Signature Swig...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bank Details:
12,NaN,Bundl Technologies Private Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beneficiary Account Name
13,NaN,CURRENT A/c. No. 50200003950522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beneficiary Account Type and Number
14,NaN,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beneficiary Bank Name and Branch
15,NaN,Wire Transfer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mode of Payment
16,NaN,HDFC0002777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IFSC/RTGS/NEFT Code
17,NaN,560240076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MICR Code
18,NaN,HDFCINBB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swift Code

In [50]:
df5=df5.fillna('')
df5

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2024-25 - Certificate reference no. 197(1)/AAFCB7707D/2024-25/1 Link of the Certificate copy FY 2024-25\nFor FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,,,,,,,,,,...,,,,,,,,,,
1,Invoice From : Swiggy Limited (formerly known ...,,,,,,,,,,...,,,,,,,,,,
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
3,1,Service Fee,996211,OTH,1,"9,555.89","9,555.89",0,"9,555.89",9,...,9,860.03,0,0,0,0,0,0,"11,275.95",
4,2,Long Distance Pack\ncharges,996211,OTH,1,455,455,0,455,9,...,9,40.95,0,0,0,0,0,0,536.9,
5,,,,,,,,,,,...,,,,,,,,,,
6,SubTotal,,,,,,"10,010.89",,"10,010.89",,...,,900.98,,0,,0,,0,"11,812.85",
7,Other Charges - Reimbursement\nof Discount,,,,"12,105.15",,,,,,...,,,,,,,,,,
8,Grand Total,,,,"23,918",,,,,,...,,,,,,,,,,
9,Amount in Words,,,,Twenty Three Thousand Nine Hundred Eighteen Ru...,,,,,,...,,,,,,,,,,
10,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
11,,,,,,,,,,,...,,,,,,,,,,Bank Details:
12,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
13,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
14,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
15,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
16,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
17,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
18,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [52]:
df5.drop_duplicates()
df5

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2024-25 - Certificate reference no. 197(1)/AAFCB7707D/2024-25/1 Link of the Certificate copy FY 2024-25\nFor FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,,,,,,,,,,...,,,,,,,,,,
1,Invoice From : Swiggy Limited (formerly known ...,,,,,,,,,,...,,,,,,,,,,
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
3,1,Service Fee,996211,OTH,1,"9,555.89","9,555.89",0,"9,555.89",9,...,9,860.03,0,0,0,0,0,0,"11,275.95",
4,2,Long Distance Pack\ncharges,996211,OTH,1,455,455,0,455,9,...,9,40.95,0,0,0,0,0,0,536.9,
5,,,,,,,,,,,...,,,,,,,,,,
6,SubTotal,,,,,,"10,010.89",,"10,010.89",,...,,900.98,,0,,0,,0,"11,812.85",
7,Other Charges - Reimbursement\nof Discount,,,,"12,105.15",,,,,,...,,,,,,,,,,
8,Grand Total,,,,"23,918",,,,,,...,,,,,,,,,,
9,Amount in Words,,,,Twenty Three Thousand Nine Hundred Eighteen Ru...,,,,,,...,,,,,,,,,,
10,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
11,,,,,,,,,,,...,,,,,,,,,,Bank Details:
12,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
13,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
14,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
15,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
16,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
17,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
18,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [53]:
header_row_index = 2

In [54]:
new_header = df5.iloc[header_row_index]       # get the header row
df5 = df5.iloc[header_row_index + 1:]          # keep the data below it
df5.columns = new_header                      # set new header
df5 = df5.reset_index(drop=True)

In [55]:
df5

2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"9,555.89","9,555.89",0,"9,555.89",9,...,9,860.03,0,0,0,0,0,0,"11,275.95",
1,2,Long Distance Pack\ncharges,996211,OTH,1,455,455,0,455,9,...,9,40.95,0,0,0,0,0,0,536.9,
2,,,,,,,,,,,...,,,,,,,,,,
3,SubTotal,,,,,,"10,010.89",,"10,010.89",,...,,900.98,,0,,0,,0,"11,812.85",
4,Other Charges - Reimbursement\nof Discount,,,,"12,105.15",,,,,,...,,,,,,,,,,
5,Grand Total,,,,"23,918",,,,,,...,,,,,,,,,,
6,Amount in Words,,,,Twenty Three Thousand Nine Hundred Eighteen Ru...,,,,,,...,,,,,,,,,,
7,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,Bank Details:
9,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
10,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
11,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
12,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
13,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
14,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
15,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [56]:
df5.columns = df5.columns.str.replace('\n', ' ', regex=True)

In [57]:
df5

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"9,555.89","9,555.89",0,"9,555.89",9,...,9,860.03,0,0,0,0,0,0,"11,275.95",
1,2,Long Distance Pack\ncharges,996211,OTH,1,455,455,0,455,9,...,9,40.95,0,0,0,0,0,0,536.9,
2,,,,,,,,,,,...,,,,,,,,,,
3,SubTotal,,,,,,"10,010.89",,"10,010.89",,...,,900.98,,0,,0,,0,"11,812.85",
4,Other Charges - Reimbursement\nof Discount,,,,"12,105.15",,,,,,...,,,,,,,,,,
5,Grand Total,,,,"23,918",,,,,,...,,,,,,,,,,
6,Amount in Words,,,,Twenty Three Thousand Nine Hundred Eighteen Ru...,,,,,,...,,,,,,,,,,
7,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,Bank Details:
9,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
10,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
11,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
12,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
13,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
14,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
15,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [58]:
for x in df5.index:
    if df5.loc[x, "Unit of measure"] == '':
        df5.drop(x, inplace=True)

df5

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"9,555.89","9,555.89",0,"9,555.89",9,...,9,860.03,0,0,0,0,0,0,"11,275.95",
1,2,Long Distance Pack\ncharges,996211,OTH,1,455,455,0,455,9,...,9,40.95,0,0,0,0,0,0,536.9,

In [59]:
df6=pd.read_excel("file_6.xlsx")
df6

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2024-25 - Certificate reference no. 197(1)/AAFCB7707D/2024-25/1 Link of the Certificate copy FY 2024-25\nFor FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Invoice From : Swiggy Limited (formerly known ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),NaN
3,1,Service Fee,996211,OTH,1,"4,061.76","4,061.76",0,"4,061.76",9,...,9,365.558,0,0,0,0,0,0,"4,792.877",NaN
4,2,Long Distance Pack\ncharges,996211,OTH,1,270,270,0,270,9,...,9,24.3,0,0,0,0,0,0,318.6,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,SubTotal,NaN,NaN,NaN,NaN,NaN,"4,331.76",NaN,"4,331.76",NaN,...,NaN,389.858,NaN,0,NaN,0,NaN,0,"5,111.477",NaN
7,Other Charges - Reimbursement\nof Discount,NaN,NaN,NaN,"6,253.78",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Grand Total,NaN,NaN,NaN,"11,365.257",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Amount in Words,NaN,NaN,NaN,Eleven Thousand Three Hundred Sixty Five Rupee...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Digitally Signed by\nAuthorised Signature Swig...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bank Details:
12,NaN,Bundl Technologies Private Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beneficiary Account Name
13,NaN,CURRENT A/c. No. 50200003950522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beneficiary Account Type and Number
14,NaN,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beneficiary Bank Name and Branch
15,NaN,Wire Transfer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mode of Payment
16,NaN,HDFC0002777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IFSC/RTGS/NEFT Code
17,NaN,560240076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MICR Code
18,NaN,HDFCINBB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swift Code

In [61]:
df6=df6.fillna('')
df6

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2024-25 - Certificate reference no. 197(1)/AAFCB7707D/2024-25/1 Link of the Certificate copy FY 2024-25\nFor FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,,,,,,,,,,...,,,,,,,,,,
1,Invoice From : Swiggy Limited (formerly known ...,,,,,,,,,,...,,,,,,,,,,
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
3,1,Service Fee,996211,OTH,1,"4,061.76","4,061.76",0,"4,061.76",9,...,9,365.558,0,0,0,0,0,0,"4,792.877",
4,2,Long Distance Pack\ncharges,996211,OTH,1,270,270,0,270,9,...,9,24.3,0,0,0,0,0,0,318.6,
5,,,,,,,,,,,...,,,,,,,,,,
6,SubTotal,,,,,,"4,331.76",,"4,331.76",,...,,389.858,,0,,0,,0,"5,111.477",
7,Other Charges - Reimbursement\nof Discount,,,,"6,253.78",,,,,,...,,,,,,,,,,
8,Grand Total,,,,"11,365.257",,,,,,...,,,,,,,,,,
9,Amount in Words,,,,Eleven Thousand Three Hundred Sixty Five Rupee...,,,,,,...,,,,,,,,,,
10,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
11,,,,,,,,,,,...,,,,,,,,,,Bank Details:
12,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
13,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
14,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
15,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
16,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
17,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
18,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [62]:
df6.drop_duplicates()
df6

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2024-25 - Certificate reference no. 197(1)/AAFCB7707D/2024-25/1 Link of the Certificate copy FY 2024-25\nFor FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,,,,,,,,,,...,,,,,,,,,,
1,Invoice From : Swiggy Limited (formerly known ...,,,,,,,,,,...,,,,,,,,,,
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
3,1,Service Fee,996211,OTH,1,"4,061.76","4,061.76",0,"4,061.76",9,...,9,365.558,0,0,0,0,0,0,"4,792.877",
4,2,Long Distance Pack\ncharges,996211,OTH,1,270,270,0,270,9,...,9,24.3,0,0,0,0,0,0,318.6,
5,,,,,,,,,,,...,,,,,,,,,,
6,SubTotal,,,,,,"4,331.76",,"4,331.76",,...,,389.858,,0,,0,,0,"5,111.477",
7,Other Charges - Reimbursement\nof Discount,,,,"6,253.78",,,,,,...,,,,,,,,,,
8,Grand Total,,,,"11,365.257",,,,,,...,,,,,,,,,,
9,Amount in Words,,,,Eleven Thousand Three Hundred Sixty Five Rupee...,,,,,,...,,,,,,,,,,
10,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
11,,,,,,,,,,,...,,,,,,,,,,Bank Details:
12,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
13,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
14,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
15,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
16,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
17,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
18,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [63]:
header_row_index = 2

In [64]:
new_header = df6.iloc[header_row_index]       # get the header row
df6 = df6.iloc[header_row_index + 1:]          # keep the data below it
df6.columns = new_header                      # set new header
df6 = df6.reset_index(drop=True)

In [65]:
df6

2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"4,061.76","4,061.76",0,"4,061.76",9,...,9,365.558,0,0,0,0,0,0,"4,792.877",
1,2,Long Distance Pack\ncharges,996211,OTH,1,270,270,0,270,9,...,9,24.3,0,0,0,0,0,0,318.6,
2,,,,,,,,,,,...,,,,,,,,,,
3,SubTotal,,,,,,"4,331.76",,"4,331.76",,...,,389.858,,0,,0,,0,"5,111.477",
4,Other Charges - Reimbursement\nof Discount,,,,"6,253.78",,,,,,...,,,,,,,,,,
5,Grand Total,,,,"11,365.257",,,,,,...,,,,,,,,,,
6,Amount in Words,,,,Eleven Thousand Three Hundred Sixty Five Rupee...,,,,,,...,,,,,,,,,,
7,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,Bank Details:
9,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
10,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
11,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
12,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
13,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
14,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
15,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [67]:
df6.columns = df6.columns.str.replace('\n', ' ', regex=True)
df6

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"4,061.76","4,061.76",0,"4,061.76",9,...,9,365.558,0,0,0,0,0,0,"4,792.877",
1,2,Long Distance Pack\ncharges,996211,OTH,1,270,270,0,270,9,...,9,24.3,0,0,0,0,0,0,318.6,
2,,,,,,,,,,,...,,,,,,,,,,
3,SubTotal,,,,,,"4,331.76",,"4,331.76",,...,,389.858,,0,,0,,0,"5,111.477",
4,Other Charges - Reimbursement\nof Discount,,,,"6,253.78",,,,,,...,,,,,,,,,,
5,Grand Total,,,,"11,365.257",,,,,,...,,,,,,,,,,
6,Amount in Words,,,,Eleven Thousand Three Hundred Sixty Five Rupee...,,,,,,...,,,,,,,,,,
7,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,Bank Details:
9,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
10,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
11,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
12,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
13,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
14,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
15,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [68]:
for x in df6.index:
    if df6.loc[x, "Unit of measure"] == '':
        df6.drop(x, inplace=True)

df6

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"4,061.76","4,061.76",0,"4,061.76",9,...,9,365.558,0,0,0,0,0,0,"4,792.877",
1,2,Long Distance Pack\ncharges,996211,OTH,1,270,270,0,270,9,...,9,24.3,0,0,0,0,0,0,318.6,

In [69]:
df7=pd.read_excel("file_7.xlsx")
df7

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Invoice From : Swiggy Limited (formerly known ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),NaN
3,1,Service Fee,996211,OTH,1,"2,139.16","2,139.16",0,"2,139.16",9,...,9,192.524,0,0,0,0,0,0,"2,524.209",NaN
4,2,Long Distance Pack\ncharges,996211,OTH,1,330,330,0,330,9,...,9,29.7,0,0,0,0,0,0,389.4,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,SubTotal,NaN,NaN,NaN,NaN,NaN,"2,469.16",NaN,"2,469.16",NaN,...,NaN,222.224,NaN,0,NaN,0,NaN,0,"2,913.609",NaN
7,Other Charges - Reimbursement\nof Discount,NaN,NaN,NaN,"3,632.67",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Grand Total,NaN,NaN,NaN,"6,546.279",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Amount in Words,NaN,NaN,NaN,Six Thousand Five Hundred Forty Six Rupees Twe...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Digitally Signed by\nAuthorised Signature Swig...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bank Details:
12,NaN,Bundl Technologies Private Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beneficiary Account Name
13,NaN,CURRENT A/c. No. 50200003950522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beneficiary Account Type and Number
14,NaN,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beneficiary Bank Name and Branch
15,NaN,Wire Transfer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mode of Payment
16,NaN,HDFC0002777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IFSC/RTGS/NEFT Code
17,NaN,560240076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MICR Code
18,NaN,HDFCINBB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swift Code

In [70]:
df7=df7.fillna('')
df7.drop_duplicates()

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,,,,,,,,,,...,,,,,,,,,,
1,Invoice From : Swiggy Limited (formerly known ...,,,,,,,,,,...,,,,,,,,,,
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
3,1,Service Fee,996211,OTH,1,"2,139.16","2,139.16",0,"2,139.16",9,...,9,192.524,0,0,0,0,0,0,"2,524.209",
4,2,Long Distance Pack\ncharges,996211,OTH,1,330,330,0,330,9,...,9,29.7,0,0,0,0,0,0,389.4,
5,,,,,,,,,,,...,,,,,,,,,,
6,SubTotal,,,,,,"2,469.16",,"2,469.16",,...,,222.224,,0,,0,,0,"2,913.609",
7,Other Charges - Reimbursement\nof Discount,,,,"3,632.67",,,,,,...,,,,,,,,,,
8,Grand Total,,,,"6,546.279",,,,,,...,,,,,,,,,,
9,Amount in Words,,,,Six Thousand Five Hundred Forty Six Rupees Twe...,,,,,,...,,,,,,,,,,
10,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
11,,,,,,,,,,,...,,,,,,,,,,Bank Details:
12,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
13,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
14,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
15,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
16,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
17,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
18,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [71]:
header_row_index = 2
new_header = df7.iloc[header_row_index]       # get the header row
df7 = df7.iloc[header_row_index + 1:]          # keep the data below it
df7.columns = new_header                      # set new header
df7 = df7.reset_index(drop=True)               # reset index

In [72]:
df7

2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"2,139.16","2,139.16",0,"2,139.16",9,...,9,192.524,0,0,0,0,0,0,"2,524.209",
1,2,Long Distance Pack\ncharges,996211,OTH,1,330,330,0,330,9,...,9,29.7,0,0,0,0,0,0,389.4,
2,,,,,,,,,,,...,,,,,,,,,,
3,SubTotal,,,,,,"2,469.16",,"2,469.16",,...,,222.224,,0,,0,,0,"2,913.609",
4,Other Charges - Reimbursement\nof Discount,,,,"3,632.67",,,,,,...,,,,,,,,,,
5,Grand Total,,,,"6,546.279",,,,,,...,,,,,,,,,,
6,Amount in Words,,,,Six Thousand Five Hundred Forty Six Rupees Twe...,,,,,,...,,,,,,,,,,
7,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,Bank Details:
9,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
10,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
11,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
12,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
13,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
14,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
15,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [73]:
df7.columns = df7.columns.str.replace('\n', ' ', regex=True)

In [74]:
df7

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"2,139.16","2,139.16",0,"2,139.16",9,...,9,192.524,0,0,0,0,0,0,"2,524.209",
1,2,Long Distance Pack\ncharges,996211,OTH,1,330,330,0,330,9,...,9,29.7,0,0,0,0,0,0,389.4,
2,,,,,,,,,,,...,,,,,,,,,,
3,SubTotal,,,,,,"2,469.16",,"2,469.16",,...,,222.224,,0,,0,,0,"2,913.609",
4,Other Charges - Reimbursement\nof Discount,,,,"3,632.67",,,,,,...,,,,,,,,,,
5,Grand Total,,,,"6,546.279",,,,,,...,,,,,,,,,,
6,Amount in Words,,,,Six Thousand Five Hundred Forty Six Rupees Twe...,,,,,,...,,,,,,,,,,
7,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,Bank Details:
9,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
10,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
11,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
12,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
13,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
14,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
15,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [75]:
for x in df7.index:
    if df7.loc[x, "Unit of measure"] == '':
        df7.drop(x, inplace=True)

df7

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"2,139.16","2,139.16",0,"2,139.16",9,...,9,192.524,0,0,0,0,0,0,"2,524.209",
1,2,Long Distance Pack\ncharges,996211,OTH,1,330,330,0,330,9,...,9,29.7,0,0,0,0,0,0,389.4,

In [76]:
df8=pd.read_excel("file_8.xlsx")
df8.head()

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Invoice From : Swiggy Limited (formerly known ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),NaN
3,1,Service Fee,996211,OTH,1,"2,520.61","2,520.61",0,"2,520.61",9,...,9,226.855,0,0,0,0,0,0,"2,974.32",NaN
4,2,Long Distance Pack\ncharges,996211,OTH,1,140,140,0,140,9,...,9,12.6,0,0,0,0,0,0,165.2,NaN

In [77]:
df8=df8.fillna('')
df8

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,,,,,,,,,,...,,,,,,,,,,
1,Invoice From : Swiggy Limited (formerly known ...,,,,,,,,,,...,,,,,,,,,,
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
3,1,Service Fee,996211,OTH,1,"2,520.61","2,520.61",0,"2,520.61",9,...,9,226.855,0,0,0,0,0,0,"2,974.32",
4,2,Long Distance Pack\ncharges,996211,OTH,1,140,140,0,140,9,...,9,12.6,0,0,0,0,0,0,165.2,
5,,,,,,,,,,,...,,,,,,,,,,
6,SubTotal,,,,,,"2,660.61",,"2,660.61",,...,,239.455,,0,,0,,0,"3,139.52",
7,Other Charges - Reimbursement\nof Discount,,,,"3,906.89",,,,,,...,,,,,,,,,,
8,Grand Total,,,,"7,046.41",,,,,,...,,,,,,,,,,
9,Amount in Words,,,,Seven Thousand Forty Six Rupees Forty One Pais...,,,,,,...,,,,,,,,,,
10,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
11,,,,,,,,,,,...,,,,,,,,,,Bank Details:
12,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
13,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
14,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
15,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
16,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
17,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
18,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [78]:
df8.drop_duplicates()

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,,,,,,,,,,...,,,,,,,,,,
1,Invoice From : Swiggy Limited (formerly known ...,,,,,,,,,,...,,,,,,,,,,
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
3,1,Service Fee,996211,OTH,1,"2,520.61","2,520.61",0,"2,520.61",9,...,9,226.855,0,0,0,0,0,0,"2,974.32",
4,2,Long Distance Pack\ncharges,996211,OTH,1,140,140,0,140,9,...,9,12.6,0,0,0,0,0,0,165.2,
5,,,,,,,,,,,...,,,,,,,,,,
6,SubTotal,,,,,,"2,660.61",,"2,660.61",,...,,239.455,,0,,0,,0,"3,139.52",
7,Other Charges - Reimbursement\nof Discount,,,,"3,906.89",,,,,,...,,,,,,,,,,
8,Grand Total,,,,"7,046.41",,,,,,...,,,,,,,,,,
9,Amount in Words,,,,Seven Thousand Forty Six Rupees Forty One Pais...,,,,,,...,,,,,,,,,,
10,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
11,,,,,,,,,,,...,,,,,,,,,,Bank Details:
12,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
13,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
14,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
15,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
16,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
17,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
18,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [79]:
header_row_index = 2
new_header = df8.iloc[header_row_index]       # get the header row
df8 = df8.iloc[header_row_index + 1:]          # keep the data below it
df8.columns = new_header                      # set new header
df8 = df8.reset_index(drop=True)               # reset index

In [80]:
df8

2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"2,520.61","2,520.61",0,"2,520.61",9,...,9,226.855,0,0,0,0,0,0,"2,974.32",
1,2,Long Distance Pack\ncharges,996211,OTH,1,140,140,0,140,9,...,9,12.6,0,0,0,0,0,0,165.2,
2,,,,,,,,,,,...,,,,,,,,,,
3,SubTotal,,,,,,"2,660.61",,"2,660.61",,...,,239.455,,0,,0,,0,"3,139.52",
4,Other Charges - Reimbursement\nof Discount,,,,"3,906.89",,,,,,...,,,,,,,,,,
5,Grand Total,,,,"7,046.41",,,,,,...,,,,,,,,,,
6,Amount in Words,,,,Seven Thousand Forty Six Rupees Forty One Pais...,,,,,,...,,,,,,,,,,
7,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,Bank Details:
9,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
10,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
11,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
12,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
13,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
14,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
15,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [81]:
df8.columns = df8.columns.str.replace('\n', ' ', regex=True)

In [82]:
for x in df8.index:
    if df8.loc[x, "Unit of measure"] == '':
        df8.drop(x, inplace=True)

df8

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"2,520.61","2,520.61",0,"2,520.61",9,...,9,226.855,0,0,0,0,0,0,"2,974.32",
1,2,Long Distance Pack\ncharges,996211,OTH,1,140,140,0,140,9,...,9,12.6,0,0,0,0,0,0,165.2,

In [83]:
df9=pd.read_excel("file_9.xlsx")
df9.head()

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"Swiggy has obtained a consolidated lower deduction certificate ('LDC'). Any TDS being deducted shall be as per the lower deduction certificate\nFor FY 2024-25 - Certificate reference no. 197(1)/AAFCB7707D/2024-25/1 Link of the Certificate copy FY 2024-25\nFor FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Invoice From : Swiggy Limited (formerly known ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),NaN
3,1,Service Fee,996211,OTH,1,"1,025.39","1,025.39",0,"1,025.39",9,...,9,92.285,0,0,0,0,0,0,"1,209.96",NaN
4,2,Long Distance Pack\ncharges,996211,OTH,1,40,40,0,40,9,...,9,3.6,0,0,0,0,0,0,47.2,NaN

In [84]:
df9=df9.fillna('')
df9.drop_duplicates()

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"Swiggy has obtained a consolidated lower deduction certificate ('LDC'). Any TDS being deducted shall be as per the lower deduction certificate\nFor FY 2024-25 - Certificate reference no. 197(1)/AAFCB7707D/2024-25/1 Link of the Certificate copy FY 2024-25\nFor FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,,,,,,,,,,...,,,,,,,,,,
1,Invoice From : Swiggy Limited (formerly known ...,,,,,,,,,,...,,,,,,,,,,
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
3,1,Service Fee,996211,OTH,1,"1,025.39","1,025.39",0,"1,025.39",9,...,9,92.285,0,0,0,0,0,0,"1,209.96",
4,2,Long Distance Pack\ncharges,996211,OTH,1,40,40,0,40,9,...,9,3.6,0,0,0,0,0,0,47.2,
5,,,,,,,,,,,...,,,,,,,,,,
6,SubTotal,,,,,,"1,065.39",,"1,065.39",,...,,95.885,,0,,0,,0,"1,257.16",
7,Other Charges - Reimbursement\nof Discount,,,,"2,119.13",,,,,,...,,,,,,,,,,
8,Grand Total,,,,"3,376.29",,,,,,...,,,,,,,,,,
9,Amount in Words,,,,Three Thousand Three Hundred Seventy Six Rupee...,,,,,,...,,,,,,,,,,
10,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
11,,,,,,,,,,,...,,,,,,,,,,Bank Details:
12,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
13,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
14,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
15,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
16,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
17,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
18,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [85]:
header_row_index = 2

In [86]:
new_header = df9.iloc[header_row_index]       # get the header row
df9 = df9.iloc[header_row_index + 1:]          # keep the data below it
df9.columns = new_header                      # set new header
df9 = df9.reset_index(drop=True)

In [87]:
df9

2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"1,025.39","1,025.39",0,"1,025.39",9,...,9,92.285,0,0,0,0,0,0,"1,209.96",
1,2,Long Distance Pack\ncharges,996211,OTH,1,40,40,0,40,9,...,9,3.6,0,0,0,0,0,0,47.2,
2,,,,,,,,,,,...,,,,,,,,,,
3,SubTotal,,,,,,"1,065.39",,"1,065.39",,...,,95.885,,0,,0,,0,"1,257.16",
4,Other Charges - Reimbursement\nof Discount,,,,"2,119.13",,,,,,...,,,,,,,,,,
5,Grand Total,,,,"3,376.29",,,,,,...,,,,,,,,,,
6,Amount in Words,,,,Three Thousand Three Hundred Seventy Six Rupee...,,,,,,...,,,,,,,,,,
7,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,Bank Details:
9,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
10,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
11,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
12,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
13,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
14,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
15,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [88]:
df9.columns = df9.columns.str.replace('\n', ' ', regex=True)

In [89]:
for x in df9.index:
    if df9.loc[x, "Unit of measure"] == '':
        df9.drop(x, inplace=True)

df9

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"1,025.39","1,025.39",0,"1,025.39",9,...,9,92.285,0,0,0,0,0,0,"1,209.96",
1,2,Long Distance Pack\ncharges,996211,OTH,1,40,40,0,40,9,...,9,3.6,0,0,0,0,0,0,47.2,

In [90]:
df10=pd.read_excel("file_10.xlsx")
df10.head()

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2024-25 - Certificate reference no. 197(1)/AAFCB7707D/2024-25/1 Link of the Certificate copy FY 2024-25\nFor FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Invoice From : Swiggy Limited (formerly known ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),NaN
3,1,Service Fee,996211,OTH,1,"2,512.57","2,512.57",0,"2,512.57",9,...,9,226.131,0,0,0,0,0,0,"2,964.833",NaN
4,2,Long Distance Pack\ncharges,996211,OTH,1,150,150,0,150,9,...,9,13.5,0,0,0,0,0,0,177,NaN

In [91]:
df10=df10.fillna('')
df10.drop_duplicates()

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2024-25 - Certificate reference no. 197(1)/AAFCB7707D/2024-25/1 Link of the Certificate copy FY 2024-25\nFor FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,,,,,,,,,,...,,,,,,,,,,
1,Invoice From : Swiggy Limited (formerly known ...,,,,,,,,,,...,,,,,,,,,,
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
3,1,Service Fee,996211,OTH,1,"2,512.57","2,512.57",0,"2,512.57",9,...,9,226.131,0,0,0,0,0,0,"2,964.833",
4,2,Long Distance Pack\ncharges,996211,OTH,1,150,150,0,150,9,...,9,13.5,0,0,0,0,0,0,177,
5,,,,,,,,,,,...,,,,,,,,,,
6,SubTotal,,,,,,"2,662.57",,"2,662.57",,...,,239.631,,0,,0,,0,"3,141.833",
7,Other Charges - Reimbursement\nof Discount,,,,"4,001.61",,,,,,...,,,,,,,,,,
8,Grand Total,,,,"7,143.443",,,,,,...,,,,,,,,,,
9,Amount in Words,,,,Seven Thousand One Hundred Forty Three Rupees ...,,,,,,...,,,,,,,,,,
10,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
11,,,,,,,,,,,...,,,,,,,,,,Bank Details:
12,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
13,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
14,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
15,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
16,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
17,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
18,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [92]:
header_row_index = 2

In [93]:
new_header = df10.iloc[header_row_index]       # get the header row
df10 = df10.iloc[header_row_index + 1:]          # keep the data below it
df10.columns = new_header                      # set new header
df10 = df10.reset_index(drop=True)

In [94]:
df10.columns = df10.columns.str.replace('\n', ' ', regex=True)

In [95]:
for x in df10.index:
    if df10.loc[x, "Unit of measure"] == '':
        df10.drop(x, inplace=True)

df10

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"2,512.57","2,512.57",0,"2,512.57",9,...,9,226.131,0,0,0,0,0,0,"2,964.833",
1,2,Long Distance Pack\ncharges,996211,OTH,1,150,150,0,150,9,...,9,13.5,0,0,0,0,0,0,177,

In [96]:
df11=pd.read_excel("file_11.xlsx")
df11

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2024-25 - Certificate reference no. 197(1)/AAFCB7707D/2024-25/1 Link of the Certificate copy FY 2024-25\nFor FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Invoice From : Swiggy Limited (formerly known ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),NaN
3,1,Service Fee,996211,OTH,1,"24,082.01","24,082.01",0,"24,082.01",9,...,9,"2,167.381",0,0,0,0,0,0,"28,416.772",NaN
4,2,Long Distance Pack\ncharges,996211,OTH,1,"1,505","1,505",0,"1,505",9,...,9,135.45,0,0,0,0,0,0,"1,775.9",NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,SubTotal,NaN,NaN,NaN,NaN,NaN,"25,587.01",NaN,"25,587.01",NaN,...,NaN,"2,302.831",NaN,0,NaN,0,NaN,0,"30,192.672",NaN
7,Other Charges - Reimbursement\nof Discount,NaN,NaN,NaN,"24,379.04",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Grand Total,NaN,NaN,NaN,"54,571.712",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Amount in Words,NaN,NaN,NaN,Fifty Four Thousand Five Hundred Seventy One R...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Digitally Signed by\nAuthorised Signature Swig...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bank Details:
12,NaN,Bundl Technologies Private Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beneficiary Account Name
13,NaN,CURRENT A/c. No. 50200003950522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beneficiary Account Type and Number
14,NaN,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beneficiary Bank Name and Branch
15,NaN,Wire Transfer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mode of Payment
16,NaN,HDFC0002777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IFSC/RTGS/NEFT Code
17,NaN,560240076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MICR Code
18,NaN,HDFCINBB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swift Code

In [97]:
df11=df11.fillna('')
df11.drop_duplicates()

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2024-25 - Certificate reference no. 197(1)/AAFCB7707D/2024-25/1 Link of the Certificate copy FY 2024-25\nFor FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,,,,,,,,,,...,,,,,,,,,,
1,Invoice From : Swiggy Limited (formerly known ...,,,,,,,,,,...,,,,,,,,,,
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
3,1,Service Fee,996211,OTH,1,"24,082.01","24,082.01",0,"24,082.01",9,...,9,"2,167.381",0,0,0,0,0,0,"28,416.772",
4,2,Long Distance Pack\ncharges,996211,OTH,1,"1,505","1,505",0,"1,505",9,...,9,135.45,0,0,0,0,0,0,"1,775.9",
5,,,,,,,,,,,...,,,,,,,,,,
6,SubTotal,,,,,,"25,587.01",,"25,587.01",,...,,"2,302.831",,0,,0,,0,"30,192.672",
7,Other Charges - Reimbursement\nof Discount,,,,"24,379.04",,,,,,...,,,,,,,,,,
8,Grand Total,,,,"54,571.712",,,,,,...,,,,,,,,,,
9,Amount in Words,,,,Fifty Four Thousand Five Hundred Seventy One R...,,,,,,...,,,,,,,,,,
10,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
11,,,,,,,,,,,...,,,,,,,,,,Bank Details:
12,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
13,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
14,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
15,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
16,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
17,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
18,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [98]:
header_row_index = 2

In [99]:
new_header = df11.iloc[header_row_index]       # get the header row
df11 = df11.iloc[header_row_index + 1:]          # keep the data below it
df11.columns = new_header                      # set new header
df11 = df11.reset_index(drop=True)

In [100]:
df11.columns = df11.columns.str.replace('\n', ' ', regex=True)

In [101]:
for x in df11.index:
    if df11.loc[x, "Unit of measure"] == '':
        df11.drop(x, inplace=True)

df11

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"24,082.01","24,082.01",0,"24,082.01",9,...,9,"2,167.381",0,0,0,0,0,0,"28,416.772",
1,2,Long Distance Pack\ncharges,996211,OTH,1,"1,505","1,505",0,"1,505",9,...,9,135.45,0,0,0,0,0,0,"1,775.9",

In [102]:
df12=pd.read_excel("file_12.xlsx")
df12.head()

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"Swiggy has obtained a consolidated lower deduction certificate ('LDC'). Any TDS being deducted shall be as per the lower deduction certificate\nFor FY 2024-25 - Certificate reference no. 197(1)/AAFCB7707D/2024-25/1 Link of the Certificate copy FY 2024-25\nFor FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Invoice From : Swiggy Limited (formerly known ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),NaN
3,1,Service Fee,996211,OTH,1,"5,165.81","5,165.81",0,"5,165.81",9,...,9,464.923,0,0,0,0,0,0,"6,095.656",NaN
4,2,Long Distance Pack\ncharges,996211,OTH,1,315,315,0,315,9,...,9,28.35,0,0,0,0,0,0,371.7,NaN

In [103]:
df12=df12.fillna('')
df12.drop_duplicates()

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"Swiggy has obtained a consolidated lower deduction certificate ('LDC'). Any TDS being deducted shall be as per the lower deduction certificate\nFor FY 2024-25 - Certificate reference no. 197(1)/AAFCB7707D/2024-25/1 Link of the Certificate copy FY 2024-25\nFor FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,,,,,,,,,,...,,,,,,,,,,
1,Invoice From : Swiggy Limited (formerly known ...,,,,,,,,,,...,,,,,,,,,,
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
3,1,Service Fee,996211,OTH,1,"5,165.81","5,165.81",0,"5,165.81",9,...,9,464.923,0,0,0,0,0,0,"6,095.656",
4,2,Long Distance Pack\ncharges,996211,OTH,1,315,315,0,315,9,...,9,28.35,0,0,0,0,0,0,371.7,
5,,,,,,,,,,,...,,,,,,,,,,
6,SubTotal,,,,,,"5,480.81",,"5,480.81",,...,,493.273,,0,,0,,0,"6,467.356",
7,Other Charges - Reimbursement\nof Discount,,,,"7,076.75",,,,,,...,,,,,,,,,,
8,Grand Total,,,,"13,544.106",,,,,,...,,,,,,,,,,
9,Amount in Words,,,,Thirteen Thousand Five Hundred Forty Four Rupe...,,,,,,...,,,,,,,,,,
10,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
11,,,,,,,,,,,...,,,,,,,,,,Bank Details:
12,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
13,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
14,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
15,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
16,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
17,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
18,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [104]:
header_row_index = 2

In [105]:
new_header = df12.iloc[header_row_index]       # get the header row
df12 = df12.iloc[header_row_index + 1:]          # keep the data below it
df12.columns = new_header                      # set new header
df12 = df12.reset_index(drop=True)

In [106]:
df12.columns = df12.columns.str.replace('\n', ' ', regex=True)

In [107]:
for x in df12.index:
    if df12.loc[x, "Unit of measure"] == '':
        df12.drop(x, inplace=True)

df12

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"5,165.81","5,165.81",0,"5,165.81",9,...,9,464.923,0,0,0,0,0,0,"6,095.656",
1,2,Long Distance Pack\ncharges,996211,OTH,1,315,315,0,315,9,...,9,28.35,0,0,0,0,0,0,371.7,

In [108]:
df=pd.read_excel("file_1.xlsx")
df.head(5)

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Invoice From : Swiggy Limited (formerly known ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),NaN
3,1,Service Fee,996211,OTH,1,"9,386.58","9,386.58",0,"9,386.58",9,...,9,844.792,0,0,0,0,0,0,"11,076.164",NaN
4,2,Long Distance Pack\ncharges,996211,OTH,1,140,140,0,140,9,...,9,12.6,0,0,0,0,0,0,165.2,NaN

In [110]:
df=df.fillna('')
df.drop_duplicates()

,Unnamed: 0,Unnamed: 1,None_1,None_2,None_3,None_4,None_5,None_6,None_7,None_8,...,None_10,None_11,None_12,None_13,None_14,None_15,None_16,None_17,None_18,"For FY 2025-26 - Certificate reference no. 197(1)/AAFCB7707D/2025-26/1 Link of the Certificate copy FY 2025-26\nTDS is deducted, TDS deducted at higher rates will not be reimbursed. Reimbursement will only be processed once the partner has deducted tax at the applicable lower\nrate of 0.02%."
0,TAX INVOICE,,,,,,,,,,...,,,,,,,,,,
1,Invoice From : Swiggy Limited (formerly known ...,,,,,,,,,,...,,,,,,,,,,
2,Sr.\nno.,Description,HSN,Unit of\nmeasure,Quantity,Unit Price,Base Amount,Discount,Assessable\nvalue,CGST\nRate,...,SGST\nRate,SGST Amount,IGST\nRate,IGST Amount,Comp\nCESS\nRate,Comp\nCESS\nAmount,State\nCESS\nRate,State\nCESS\nAmount,Total Amount (Rs.),
3,1,Service Fee,996211,OTH,1,"9,386.58","9,386.58",0,"9,386.58",9,...,9,844.792,0,0,0,0,0,0,"11,076.164",
4,2,Long Distance Pack\ncharges,996211,OTH,1,140,140,0,140,9,...,9,12.6,0,0,0,0,0,0,165.2,
5,,,,,,,,,,,...,,,,,,,,,,
6,SubTotal,,,,,,"9,526.58",,"9,526.58",,...,,857.392,,0,,0,,0,"11,241.364",
7,Other Charges - Reimbursement\nof Discount,,,,"12,751.39",,,,,,...,,,,,,,,,,
8,Grand Total,,,,"23,992.754",,,,,,...,,,,,,,,,,
9,Amount in Words,,,,Twenty Three Thousand Nine Hundred Ninety Two ...,,,,,,...,,,,,,,,,,
10,Digitally Signed by\nAuthorised Signature Swig...,,,,,,,,,,...,,,,,,,,,,
11,,,,,,,,,,,...,,,,,,,,,,Bank Details:
12,,Bundl Technologies Private Limited,,,,,,,,,...,,,,,,,,,,Beneficiary Account Name
13,,CURRENT A/c. No. 50200003950522,,,,,,,,,...,,,,,,,,,,Beneficiary Account Type and Number
14,,"HDFC BANK LTD, KORAMANGALA 4TH BLOCK",,,,,,,,,...,,,,,,,,,,Beneficiary Bank Name and Branch
15,,Wire Transfer,,,,,,,,,...,,,,,,,,,,Mode of Payment
16,,HDFC0002777,,,,,,,,,...,,,,,,,,,,IFSC/RTGS/NEFT Code
17,,560240076,,,,,,,,,...,,,,,,,,,,MICR Code
18,,HDFCINBB,,,,,,,,,...,,,,,,,,,,Swift Code

In [111]:

header_row_index = 2

In [112]:
new_header = df.iloc[header_row_index]       # get the header row
df = df.iloc[header_row_index + 1:]          # keep the data below it
df.columns = new_header                      # set new header
df = df.reset_index(drop=True)

In [113]:
df.columns = df.columns.str.replace('\n', ' ', regex=True)

In [114]:

for x in df.index:
    if df.loc[x, "Unit of measure"] == '':
        df.drop(x, inplace=True)

df

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"9,386.58","9,386.58",0,"9,386.58",9,...,9,844.792,0,0,0,0,0,0,"11,076.164",
1,2,Long Distance Pack\ncharges,996211,OTH,1,140,140,0,140,9,...,9,12.6,0,0,0,0,0,0,165.2,

In [115]:
Data_Cleaning=pd.concat([df, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12], ignore_index=True)

In [116]:
Data_Cleaning

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"9,386.58","9,386.58",0,"9,386.58",9,...,9,844.792,0,0,0,0,0,0,"11,076.164",
1,2,Long Distance Pack\ncharges,996211,OTH,1,140,140,0,140,9,...,9,12.6,0,0,0,0,0,0,165.2,
2,1,Service Fee,996211,OTH,1,36.99,36.99,0,36.99,9,...,9,3.329,0,0,0,0,0,0,43.648,
3,1,Service Fee,996211,OTH,1,"13,579.92","13,579.92",0,"13,579.92",9,...,9,"1,222.193",0,0,0,0,0,0,"16,024.306",
4,2,Long Distance Pack\ncharges,996211,OTH,1,805,805,0,805,9,...,9,72.45,0,0,0,0,0,0,949.9,
5,1,Service Fee,996211,OTH,1,626.25,626.25,0,626.25,9,...,9,56.362,0,0,0,0,0,0,738.975,
6,2,Long Distance Pack\ncharges,996211,OTH,1,120,120,0,120,9,...,9,10.8,0,0,0,0,0,0,141.6,
7,1,Service Fee,996211,OTH,1,"9,555.89","9,555.89",0,"9,555.89",9,...,9,860.03,0,0,0,0,0,0,"11,275.95",
8,2,Long Distance Pack\ncharges,996211,OTH,1,455,455,0,455,9,...,9,40.95,0,0,0,0,0,0,536.9,
9,1,Service Fee,996211,OTH,1,"4,061.76","4,061.76",0,"4,061.76",9,...,9,365.558,0,0,0,0,0,0,"4,792.877",
10,2,Long Distance Pack\ncharges,996211,OTH,1,270,270,0,270,9,...,9,24.3,0,0,0,0,0,0,318.6,
11,1,Service Fee,996211,OTH,1,"2,139.16","2,139.16",0,"2,139.16",9,...,9,192.524,0,0,0,0,0,0,"2,524.209",
12,2,Long Distance Pack\ncharges,996211,OTH,1,330,330,0,330,9,...,9,29.7,0,0,0,0,0,0,389.4,
13,1,Service Fee,996211,OTH,1,"2,520.61","2,520.61",0,"2,520.61",9,...,9,226.855,0,0,0,0,0,0,"2,974.32",
14,2,Long Distance Pack\ncharges,996211,OTH,1,140,140,0,140,9,...,9,12.6,0,0,0,0,0,0,165.2,
15,1,Service Fee,996211,OTH,1,"1,025.39","1,025.39",0,"1,025.39",9,...,9,92.285,0,0,0,0,0,0,"1,209.96",
16,2,Long Distance Pack\ncharges,996211,OTH,1,40,40,0,40,9,...,9,3.6,0,0,0,0,0,0,47.2,
17,1,Service Fee,996211,OTH,1,"2,512.57","2,512.57",0,"2,512.57",9,...,9,226.131,0,0,0,0,0,0,"2,964.833",
18,2,Long Distance Pack\ncharges,996211,OTH,1,150,150,0,150,9,...,9,13.5,0,0,0,0,0,0,177,
19,1,Service Fee,996211,OTH,1,"24,082.01","24,082.01",0,"24,082.01",9,...,9,"2,167.381",0,0,0,0,0,0,"28,416.772",
20,2,Long Distance Pack\ncharges,996211,OTH,1,"1,505","1,505",0,"1,505",9,...,9,135.45,0,0,0,0,0,0,"1,775.9",
21,1,Service Fee,996211,OTH,1,"5,165.81","5,165.81",0,"5,165.81",9,...,9,464.923,0,0,0,0,0,0,"6,095.656",
22,2,Long Distance Pack\ncharges,996211,OTH,1,315,315,0,315,9,...,9,28.35,0,0,0,0,0,0,371.7,

In [120]:
Data_Cleaning['Sr. no.'] = range(1, len(Data_Cleaning) + 1)

In [121]:
Data_Cleaning

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"9,386.58","9,386.58",0,"9,386.58",9,...,9,844.792,0,0,0,0,0,0,"11,076.164",
1,2,Long Distance Pack\ncharges,996211,OTH,1,140,140,0,140,9,...,9,12.6,0,0,0,0,0,0,165.2,
2,3,Service Fee,996211,OTH,1,36.99,36.99,0,36.99,9,...,9,3.329,0,0,0,0,0,0,43.648,
3,4,Service Fee,996211,OTH,1,"13,579.92","13,579.92",0,"13,579.92",9,...,9,"1,222.193",0,0,0,0,0,0,"16,024.306",
4,5,Long Distance Pack\ncharges,996211,OTH,1,805,805,0,805,9,...,9,72.45,0,0,0,0,0,0,949.9,
5,6,Service Fee,996211,OTH,1,626.25,626.25,0,626.25,9,...,9,56.362,0,0,0,0,0,0,738.975,
6,7,Long Distance Pack\ncharges,996211,OTH,1,120,120,0,120,9,...,9,10.8,0,0,0,0,0,0,141.6,
7,8,Service Fee,996211,OTH,1,"9,555.89","9,555.89",0,"9,555.89",9,...,9,860.03,0,0,0,0,0,0,"11,275.95",
8,9,Long Distance Pack\ncharges,996211,OTH,1,455,455,0,455,9,...,9,40.95,0,0,0,0,0,0,536.9,
9,10,Service Fee,996211,OTH,1,"4,061.76","4,061.76",0,"4,061.76",9,...,9,365.558,0,0,0,0,0,0,"4,792.877",
10,11,Long Distance Pack\ncharges,996211,OTH,1,270,270,0,270,9,...,9,24.3,0,0,0,0,0,0,318.6,
11,12,Service Fee,996211,OTH,1,"2,139.16","2,139.16",0,"2,139.16",9,...,9,192.524,0,0,0,0,0,0,"2,524.209",
12,13,Long Distance Pack\ncharges,996211,OTH,1,330,330,0,330,9,...,9,29.7,0,0,0,0,0,0,389.4,
13,14,Service Fee,996211,OTH,1,"2,520.61","2,520.61",0,"2,520.61",9,...,9,226.855,0,0,0,0,0,0,"2,974.32",
14,15,Long Distance Pack\ncharges,996211,OTH,1,140,140,0,140,9,...,9,12.6,0,0,0,0,0,0,165.2,
15,16,Service Fee,996211,OTH,1,"1,025.39","1,025.39",0,"1,025.39",9,...,9,92.285,0,0,0,0,0,0,"1,209.96",
16,17,Long Distance Pack\ncharges,996211,OTH,1,40,40,0,40,9,...,9,3.6,0,0,0,0,0,0,47.2,
17,18,Service Fee,996211,OTH,1,"2,512.57","2,512.57",0,"2,512.57",9,...,9,226.131,0,0,0,0,0,0,"2,964.833",
18,19,Long Distance Pack\ncharges,996211,OTH,1,150,150,0,150,9,...,9,13.5,0,0,0,0,0,0,177,
19,20,Service Fee,996211,OTH,1,"24,082.01","24,082.01",0,"24,082.01",9,...,9,"2,167.381",0,0,0,0,0,0,"28,416.772",
20,21,Long Distance Pack\ncharges,996211,OTH,1,"1,505","1,505",0,"1,505",9,...,9,135.45,0,0,0,0,0,0,"1,775.9",
21,22,Service Fee,996211,OTH,1,"5,165.81","5,165.81",0,"5,165.81",9,...,9,464.923,0,0,0,0,0,0,"6,095.656",
22,23,Long Distance Pack\ncharges,996211,OTH,1,315,315,0,315,9,...,9,28.35,0,0,0,0,0,0,371.7,

take the backup

In [122]:
backup_df = Data_Cleaning.copy()

In [124]:
Data_Cleaning

2,Sr. no.,Description,HSN,Unit of measure,Quantity,Unit Price,Base Amount,Discount,Assessable value,CGST Rate,...,SGST Rate,SGST Amount,IGST Rate,IGST Amount,Comp CESS Rate,Comp CESS Amount,State CESS Rate,State CESS Amount,Total Amount (Rs.),
0,1,Service Fee,996211,OTH,1,"9,386.58","9,386.58",0,"9,386.58",9,...,9,844.792,0,0,0,0,0,0,"11,076.164",
1,2,Long Distance Pack\ncharges,996211,OTH,1,140,140,0,140,9,...,9,12.6,0,0,0,0,0,0,165.2,
2,3,Service Fee,996211,OTH,1,36.99,36.99,0,36.99,9,...,9,3.329,0,0,0,0,0,0,43.648,
3,4,Service Fee,996211,OTH,1,"13,579.92","13,579.92",0,"13,579.92",9,...,9,"1,222.193",0,0,0,0,0,0,"16,024.306",
4,5,Long Distance Pack\ncharges,996211,OTH,1,805,805,0,805,9,...,9,72.45,0,0,0,0,0,0,949.9,
5,6,Service Fee,996211,OTH,1,626.25,626.25,0,626.25,9,...,9,56.362,0,0,0,0,0,0,738.975,
6,7,Long Distance Pack\ncharges,996211,OTH,1,120,120,0,120,9,...,9,10.8,0,0,0,0,0,0,141.6,
7,8,Service Fee,996211,OTH,1,"9,555.89","9,555.89",0,"9,555.89",9,...,9,860.03,0,0,0,0,0,0,"11,275.95",
8,9,Long Distance Pack\ncharges,996211,OTH,1,455,455,0,455,9,...,9,40.95,0,0,0,0,0,0,536.9,
9,10,Service Fee,996211,OTH,1,"4,061.76","4,061.76",0,"4,061.76",9,...,9,365.558,0,0,0,0,0,0,"4,792.877",
10,11,Long Distance Pack\ncharges,996211,OTH,1,270,270,0,270,9,...,9,24.3,0,0,0,0,0,0,318.6,
11,12,Service Fee,996211,OTH,1,"2,139.16","2,139.16",0,"2,139.16",9,...,9,192.524,0,0,0,0,0,0,"2,524.209",
12,13,Long Distance Pack\ncharges,996211,OTH,1,330,330,0,330,9,...,9,29.7,0,0,0,0,0,0,389.4,
13,14,Service Fee,996211,OTH,1,"2,520.61","2,520.61",0,"2,520.61",9,...,9,226.855,0,0,0,0,0,0,"2,974.32",
14,15,Long Distance Pack\ncharges,996211,OTH,1,140,140,0,140,9,...,9,12.6,0,0,0,0,0,0,165.2,
15,16,Service Fee,996211,OTH,1,"1,025.39","1,025.39",0,"1,025.39",9,...,9,92.285,0,0,0,0,0,0,"1,209.96",
16,17,Long Distance Pack\ncharges,996211,OTH,1,40,40,0,40,9,...,9,3.6,0,0,0,0,0,0,47.2,
17,18,Service Fee,996211,OTH,1,"2,512.57","2,512.57",0,"2,512.57",9,...,9,226.131,0,0,0,0,0,0,"2,964.833",
18,19,Long Distance Pack\ncharges,996211,OTH,1,150,150,0,150,9,...,9,13.5,0,0,0,0,0,0,177,
19,20,Service Fee,996211,OTH,1,"24,082.01","24,082.01",0,"24,082.01",9,...,9,"2,167.381",0,0,0,0,0,0,"28,416.772",
20,21,Long Distance Pack\ncharges,996211,OTH,1,"1,505","1,505",0,"1,505",9,...,9,135.45,0,0,0,0,0,0,"1,775.9",
21,22,Service Fee,996211,OTH,1,"5,165.81","5,165.81",0,"5,165.81",9,...,9,464.923,0,0,0,0,0,0,"6,095.656",
22,23,Long Distance Pack\ncharges,996211,OTH,1,315,315,0,315,9,...,9,28.35,0,0,0,0,0,0,371.7,

In [127]:
Data_Cleaning.to_excel("Data_Cleaning.xlsx", index=False)

In [128]:
import IPython
from IPython.display import FileLink

In [129]:
FileLink("Data_Cleaning.xlsx")

C:\Users\Admin\OneDrive\Desktop\Pandas_data_cleaning\call_list\Data_Cleaning.xlsx

In [130]:
import zipfile
import os

# Step 1: Save each DataFrame as an Excel file
dataframes = {
    "df1": df,
    "df2": df2,
    "df3": df3,
    "df4": df4,
    "df5": df5,
    "df6": df6,
    "df7": df7,
    "df8": df8,
    "df9": df9,
    "df10": df10,
    "df11": df11,
    "df12": df12,
}

# Save Excel files
for name, dataframe in dataframes.items():
    dataframe.to_excel(f"{name}.xlsx", index=False)

# Step 2: Create a zip file
with zipfile.ZipFile("all_dataframes.zip", "w") as zipf:
    for name in dataframes.keys():
        filename = f"{name}.xlsx"
        zipf.write(filename)

In [131]:
from IPython.display import FileLink

In [133]:
FileLink("all_dataframes.zip")

C:\Users\Admin\OneDrive\Desktop\Pandas_data_cleaning\call_list\all_dataframes.zip